<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Не найдено</title>
</head>
<body>
<div layout:fragment="content">
    <h1 style="text-align: center;
        margin-top: 10%;
        color: #b84f3c">Страница не найдена!</h1>
    <button type="button"
            class="btn btn-secondary"
            onclick="window.history.back()">Назад
    </button>
</div>
</body>
</html>
